<div class="mt-2 flex flex-wrap items-center justify-between gap-2">
  <div class="flex flex-wrap items-center gap-2">
    <app-ui-action-button
      [label]="'TOOLBAR.SELECT_ALL' | translate"
      [isDark]="isDark()"
      size="sm"
      [disabled]="selectAllDisabled()"
      (clicked)="selectAll.emit()"
    />
    <app-ui-action-button
      [label]="'TOOLBAR.CLEAR_ALL' | translate"
      [isDark]="isDark()"
      size="sm"
      [disabled]="clearAllDisabled()"
      (clicked)="clearAll.emit()"
    />
    <app-ui-action-button
      [label]="'TOOLBAR.SELECT_PAGE' | translate"
      [isDark]="isDark()"
      size="sm"
      [disabled]="selectPageDisabled()"
      (clicked)="selectPage.emit()"
    />
    <app-ui-action-button
      [label]="'TOOLBAR.CLEAR_PAGE' | translate"
      [isDark]="isDark()"
      size="sm"
      (clicked)="clearPage.emit()"
    />
  </div>
  <div class="flex flex-wrap items-center gap-2">
    <app-ui-action-button
      [label]="'TOOLBAR.PREV' | translate"
      [isDark]="isDark()"
      size="sm"
      [disabled]="!hasPrevPage()"
      (clicked)="prevPage.emit()"
    />
    <p
      class="text-xs font-semibold text-fg"
    >
      {{ 'TOOLBAR.PAGE' | translate }} {{ pageLabel() }}
    </p>
    <app-ui-action-button
      [label]="'TOOLBAR.NEXT' | translate"
      [isDark]="isDark()"
      size="sm"
      [disabled]="!hasNextPage()"
      (clicked)="nextPage.emit()"
    />
  </div>
</div>
